
@import "config.less";

#topbar_simple_social.topbar .nav-utility {
  color: #ffffff;
}
#topbar_simple_social.topbar .nav-utility.nav-right {
  text-align: right;
}
#topbar_simple_social.topbar .nav-utility.nav-right .nav-item {
  margin-right: 0;
  margin-left: 30px;
  color: #ffffff;
}
#topbar_simple_social.topbar .nav-utility.nav-right .nav-item:hover {
  color: #f2f2f2;
}
#topbar_simple_social.topbar .nav-utility.nav-right .nav-item:first-child {
  margin-left: 0;
}
#topbar_simple_social.topbar .nav-utility .nav-item {
  display: inline-block;
  padding: 10px 0;
  margin-right: 30px;
  font-size: 12px;
  color: #ffffff;
}
#topbar_simple_social.topbar .nav-utility .nav-item:last-child {
  margin-right: 0;
}
#topbar_simple_social.topbar .nav-utility .nav-item:hover {
  color: #f2f2f2;
}
@media (max-width: 768px) {
  #topbar_simple_social.topbar .nav-utility,
  #topbar_simple_social.topbar .nav-utility.nav-right {
    text-align: center;
  }
}
#topbar_simple_social.topbar {
  border-bottom: 1px solid #f2f2f2;
  background-color: transparent;
}
