.yamm {
  z-index: 999;
  width: 100%;
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
  -ms-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  min-height: 72px; }
  @media (min-width: 767px) {
    .yamm {
      min-height: 70px; } }
  .yamm .navbar-brand {
    height: 70px;
    font-size: 20px;
    line-height: 40px;
    margin-right: 25px; }
  .yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
    position: static; }
  .yamm .container {
    position: relative; }
  .yamm .dropdown-menu {
    left: auto; }
  .yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0; }
  .yamm .yamm-fw .dropdown-menu {
    left: 0;
    right: 0; }
  .yamm .navbar-nav > li {
    margin: 0 2px; }
    .yamm .navbar-nav > li > a {
      color: #35404f;
      font-weight: 400; }
      @media (min-width: 767px) {
        .yamm .navbar-nav > li > a {
          border-top: 2px solid transparent; } }
      @media (min-width: 767px) {
        .yamm .navbar-nav > li > a:hover {
          border-top: 2px solid #0cd4d2; } }
      @media (min-width: 767px) {
        .yamm .navbar-nav > li > a {
          padding-top: 10px;
          padding-bottom: 10px;
          line-height: 50px; } }
    .yamm .navbar-nav > li.active > a {
      background-color: transparent;
      color: #35404f;
      font-weight: 400; }
      @media (min-width: 767px) {
        .yamm .navbar-nav > li.active > a {
          border-top: 2px solid #0cd4d2; } }
      .yamm .navbar-nav > li.active > a:hover, .yamm .navbar-nav > li.active > a:active, .yamm .navbar-nav > li.active > a:focus {
        background-color: transparent;
        font-weight: 400; }
        @media (min-width: 767px) {
          .yamm .navbar-nav > li.active > a:hover, .yamm .navbar-nav > li.active > a:active, .yamm .navbar-nav > li.active > a:focus {
            border-top: 2px solid #0cd4d2; } }
    @media (min-width: 767px) {
      .yamm .navbar-nav > li.dropdown.open > a {
        background-color: transparent;
        border-color: transparent; }
        .yamm .navbar-nav > li.dropdown.open > a:hover {
          background-color: transparent;
          border-color: #0cd4d2; }
      .yamm .navbar-nav > li.dropdown.active.open > a {
        border-color: #0cd4d2; }
        .yamm .navbar-nav > li.dropdown.active.open > a:hover {
          border-color: #0cd4d2; } }
    @media (max-width: 767px) {
      .yamm .navbar-nav > li.dropdown.open > a {
        color: #0cd4d2;
        background-color: transparent; }
      .yamm .navbar-nav > li.dropdown.open .dropdown-menu > .active > a {
        color: #0cd4d2;
        background-color: transparent; }
      .yamm .navbar-nav > li.dropdown.active.open > a {
        color: #0cd4d2;
        background-color: transparent; } }
  .yamm .nav .open > a {
    background-color: transparent; }
    .yamm .nav .open > a:hover, .yamm .nav .open > a:active, .yamm .nav .open > a:focus {
      background-color: transparent; }
  .yamm li .dropdown-menu {
    padding: 0;
    font-size: 14px;
    background-color: #ffffff;
    color: #878c94;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
    @media (min-width: 767px) {
      .yamm li .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        margin-top: 10px; } }
    .yamm li .dropdown-menu .divider {
      height: 1px;
      margin: 0;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.05); }
    .yamm li .dropdown-menu li a {
      padding-top: 8px;
      padding-bottom: 8px;
      clear: both;
      font-weight: 400;
      color: #878c94; }
      .yamm li .dropdown-menu li a:hover, .yamm li .dropdown-menu li a:active, .yamm li .dropdown-menu li a:focus {
        background-color: rgba(0, 0, 0, 0.02);
        color: #35404f; }
    .yamm li .dropdown-menu li.active > a {
      background-color: rgba(0, 0, 0, 0.02); }
    .yamm li .dropdown-menu .yamm-content {
      padding: 20px 30px; }
      .yamm li .dropdown-menu .yamm-content a {
        padding: 0; }
        .yamm li .dropdown-menu .yamm-content a:hover {
          background-color: transparent; }
      .yamm li .dropdown-menu .yamm-content ul {
        list-style-type: none; }
        .yamm li .dropdown-menu .yamm-content ul li.title {
          margin: 5px 0; }
        .yamm li .dropdown-menu .yamm-content ul li a {
          padding: 7px 0;
          display: block;
          line-height: normal; }
          .yamm li .dropdown-menu .yamm-content ul li a:hover, .yamm li .dropdown-menu .yamm-content ul li a:active, .yamm li .dropdown-menu .yamm-content ul li a:focus {
            background-color: transparent;
            color: #35404f; }
        .yamm li .dropdown-menu .yamm-content ul li.active a {
          background-color: transparent;
          color: #35404f; }
  @media (min-width: 767px) {
    .yamm li:hover > .dropdown-menu {
      display: block;
      visibility: visible;
      opacity: 1;
      margin-top: 0; } }
  .yamm li:hover > a:after {
    border-left-color: #878c94; }
  .yamm .dropdown-submenu {
    position: relative; }
    .yamm .dropdown-submenu > .dropdown-menu {
      top: 0;
      left: 100%; }
      @media (min-width: 767px) {
        .yamm .dropdown-submenu > .dropdown-menu {
          margin-top: -6px;
          margin-left: -1px; } }
      @media (max-width: 767px) {
        .yamm .dropdown-submenu > .dropdown-menu {
          margin-left: 5px; } }
    .yamm .dropdown-submenu > a:after {
      display: block;
      content: " ";
      float: right;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      border-width: 5px 0 5px 5px;
      border-left-color: #e5e5e5;
      margin-top: 5px;
      margin-right: -10px; }
  @media (max-width: 767px) {
    .yamm .navbar-collapse {
      max-height: 340px;
      padding-right: 15px;
      padding-left: 15px;
      overflow-x: visible;
      border-top-color: rgba(0, 0, 0, 0.08);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      -webkit-overflow-scrolling: touch; }
    .yamm .navbar-toggle {
      background-color: #35404f;
      border-color: #35404f;
      margin-top: 18px; }
      .yamm .navbar-toggle:hover, .yamm .navbar-toggle:active, .yamm .navbar-toggle:focus {
        background-color: #0cd4d2;
        border-color: #0cd4d2; }
      .yamm .navbar-toggle .icon-bar {
        background-color: #e5e5e5; } }
  @media (max-width: 767px) {
    .yamm div[class^="col-"] {
      margin-bottom: 20px; }
      .yamm div[class^="col-"]:last-child {
        margin-bottom: 0; } }
