.topbar .nav-utility {
  color: #ffffff;
}
.topbar .nav-utility.nav-right {
  text-align: right;
}
.topbar .nav-utility.nav-right .nav-item {
  margin-right: 0;
  margin-left: 30px;
  color: #ffffff;
}
.topbar .nav-utility.nav-right .nav-item:hover {
  color: #f2f2f2;
}
.topbar .nav-utility.nav-right .nav-item:first-child {
  margin-left: 0;
}
.topbar .nav-utility .nav-item {
  display: inline-block;
  padding: 10px 0;
  margin-right: 30px;
  font-size: 12px;
  color: #ffffff;
}
.topbar .nav-utility .nav-item:last-child {
  margin-right: 0;
}
.topbar .nav-utility .nav-item:hover {
  color: #f2f2f2;
}
.topbar .nav-utility .btn {
  margin: 5px 0;
  padding: 8px 14px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  border: 2px solid #ffffff;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background-color: transparent;
  color: #ffffff;
}
.topbar .nav-utility .btn:hover {
  background-color: #ffffff;
  color: #2b2b2b;
}
.topbar .nav-utility .btn-theme {
  border-color: #ffa800 !important;
  background-color: #ffa800 !important;
}
.topbar .nav-utility .btn-theme:hover {
  color: #ffffff;
  border-color: #e69700 !important;
  background-color: #e69700 !important;
}
.topbar .nav-utility .btn-square {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.topbar .site-branding .site-title {
  margin: 5px 0 0;
  padding: 0;
  font-size: 32px;
  line-height: 36px;
}
.topbar .site-branding .site-title.title-image {
  text-align: left;
}
.topbar .site-branding .site-title.title-image img {
  margin-top: 8px;
  max-height: 40px;
  width: auto;
}
@media (max-width: 768px) {
  .topbar .nav-utility,
  .topbar .nav-utility.nav-right {
    text-align: center;
  }
  .topbar .nav-utility .btn {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
.topbar {
  border-bottom: 1px solid #f2f2f2;
  background-color: transparent;
}
